.c-routable-slider {
  position: fixed;
  display: flex;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  user-select: none; // makes it easy to use a mouse to drag
}

.slides {
  overflow: hidden;
  width: 1000px;
  margin: 0 50px;
}

.slide {
  position: absolute;
  width: 100%;
}

.slider-arrow {
  display: inline-block;
  padding-top: 80px;
  align-items: center;
}
