@import "./00-vendor/bootstrap/bootstrap.scss";

.container {
  width: 1200px;
  height: 800px;
}

.language-controls {
  float: right;
  button {
    @extend .mr-2;
  }

  button:last-child {
    @extend .mr-0;
  }
}

[data-gloss] {
  @extend .btn;
  @extend .btn-light;
  padding: 0 3px 0 3px;
}

$gloss-background-color: #333;

.gloss {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;

  p:last-child {
    margin-bottom: 0;
  }

  &-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
  }

  &:after {
    content: " ";
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(#333, 0);
    border-top-color: #333;
    border-width: 12px;
    margin-left: -12px;
  }
}

// overide bootstrap glow around button
.btn:focus {
  box-shadow: none !important;
}
