@import "00-vendor/bootstrap/bootstrap.scss";
@import "01-settings/_index";
@import "02-tools/_index";
@import "03-generic/_index";
@import "04-elements/_index";
@import "05-objects/_index";
@import "06-components/_index";
@import "07-utilities/_index";


.container {
  width: 1200px;
  height: 800px;
}

.language-controls {
  float: right;
  button {
    @extend .mr-2;
  }

  button:last-child {
    @extend .mr-0;
  }
}

.page {
  position: absolute;
  width: 100%;
}

[data-gloss] {
  // @extend .btn;
  // @extend .btn-light;
  padding: 0 3px 0 3px;
}

// overide bootstrap glow around button
.btn:focus {
  box-shadow: none !important;
}
