@import "./00-vendor/bootstrap/bootstrap.scss";

.container {
  width: 1200px;
  height: 800px;
}

.language-controls {
  float: right;
  button {
    @extend .mr-2;
  }

  button:last-child {
    @extend .mr-0;
  }
}

// overide bootstrap glow around button
.btn:focus {
  box-shadow: none !important;
}
